

main { opacity: 0; }

/***** NAVBAR *****/

.navbar {
    background-color: #557174;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: #F7F7E8;
    font: 14px Montserrat, sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    padding: 15px;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #C7CFB7;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: #F7F7E8;
  font: 14px Montserrat, sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 15px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #863ee3;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #ebd122;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    font-family: Bebas Neue;
    letter-spacing: 3px;
    background-color: #FFFFFF;
    text-align: center;
    color: #557174;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

/*** CARD ***/

.card {
    background-color: #557174;
    border-color: #557174;
    border-width: 3px;
    width: 100%;
}

.card:hover {
    border-color: #C7CFB7;
}

.card-title {
  size: 14px;
  color: #F7F7E8

}

/*** Basic Text Styles ***/

#about-world {
    max-height: 200px;
}

.resume h3 {
   font-family: Montserrat;
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
    line-height: 25px;

}

a {
    color: #863ee3;
}

a:hover {
    color: #ebd122;
}

.col-sm {
background-color: #C7CFB7;
}

body {

    font: 18px Montserrat,  sans-serif;
    line-height: 1.8;
    background-color: #FFFFFF;
    color: #557174;
}
